/app/config/parameters.yml
/app/Resources/config/*.*
!/app/Resources/config/*.dist
/build/
/node_modules/
/phpunit.xml
/.php_cs
/.idea
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
/var/data/*
!/var/data/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/build/fonts/glyphicons-*
/web/build/images/glyphicons-*

*.pem
*.p12
