# This file defines the canonical configuration parameters of the application.
# Symfony uses this file as a template to generate the real app/config/parameters.yml
# used by the application.
# See https://symfony.com/doc/current/best_practices/configuration.html#canonical-parameters
parameters:
    # The code of the default language used by the application ('en' = English)
    locale: en

    # The 'secret' value is a random string of characters used by Symfony to
    # to add more entropy to security related operations.
    # see: https://symfony.com/doc/current/reference/configuration/framework.html#secret
    env(SYMFONY_SECRET): 'secret_value_for_symfony_demo_application'

    digipost_signature.keystore.filename: ~
    digipost_signature.keystore.password: ~
    digipost_signature.keystore.key.alias: ~
    digipost_signature.keystore.key.password: ~
    digipost_signature.keystore.ca_path: ~
    digipost_signature.keystore.client_cert: ~
    digipost_signature.keystore.client_key: ~
    digipost_signature.client.organisation_number: ~
    digipost_signature.ca_files.path: ~
    digipost_signature.ca_bundle.path: ~
